{
    "parser": "@typescript-eslint/parser",
    "parserOptions": {
        "project": "tsconfig.json",
        "sourceType": "module",
        "ecmaVersion": 2020 // Align with ES6 target in tsconfig.json
    },
    "plugins": [
        "@typescript-eslint",
        "import",
        "prettier"
    ],
    "extends": [
        "eslint:recommended",
        "plugin:@typescript-eslint/recommended",
        "plugin:import/errors",
        "plugin:import/warnings",
        "plugin:import/typescript",
        "plugin:prettier/recommended"
    ],
    "rules": {
        "import/no-named-as-default": "off",
        "@typescript-eslint/no-explicit-any": "off",
        "linebreak-style": [
            "error",
            "unix"
        ],
        "quotes": [
            "error",
            "single"
        ],
        "prettier/prettier": [
            "error",
            {
                "singleQuote": true,
                "parser": "typescript",
                "printWidth": 120,
                "endOfLine": "auto"
            }
        ]
    },
    "settings": {
        "import/parsers": {
            "@typescript-eslint/parser": [
                ".ts",
                ".tsx"
            ]
        },
        "import/resolver": {
            "typescript": {} // Это говорит ESLint использовать TypeScript для разрешения модулей
        }
    },
    "env": {
        "node": true,
        "es6": true
    }
}